.avatar-rail-menu {
   font-size: small;
   background: rgba(255, 255, 255, 0.9);
   list-style: none;
   margin: 8px;
}

.avatar.avatar-xxl {
   font-size: 2.6rem;
   height: 6rem;
   width: 6rem;
}

/* @media (max-width: 600px) { */
/*    .avatar.avatar-xxl { */
/*       font-size: 1.6rem; */
/*       height: 4rem; */
/*       width: 4rem; */
/*    } */
/* } */

.arrow-box {
   position: relative;
   color: white;
   background: #5757d9;
   border-radius: 0.1rem;
}
