.dialog-icon {
   padding: 0px 7px;
   color: white;
   background-color: #5757d9;
   line-height: 1.2;
}

.selectInvitationDialog,
.customizeInvitationDialog {
   margin-top: 16px;
}

@media (min-width: 990px) {
   .dialog {
      position: absolute;
      top: 0px;
      left: 328px;
      font-weight: normal;
      word-wrap: normal;
      width: 100%;
      min-width: 444px;
      background: rgba(255, 255, 255, 0.9);
      padding: 8px;
      border-radius: 2px;
   }
   .selectInvitationDialog {
      position: absolute;
      top: -294px;
      left: 328px;
      font-weight: normal;
      word-wrap: normal;
      width: 100%;
      min-width: 444px;
      margin-top: 0;
      background: rgba(255, 255, 255, 0.9);
      padding: 8px;
      border-radius: 2px;
   }
   .customizeInvitationDialog {
      position: absolute;
      top: -388px;
      left: 328px;
      font-weight: normal;
      word-wrap: normal;
      width: 100%;
      min-width: 444px;
      margin-top: 0;
      background: rgba(255, 255, 255, 0.9);
      padding: 8px;
      border-radius: 2px;
   }
}
