body {
   background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Summit-lake-wv-night-sky-reflection_-_West_Virginia_-_ForestWander.jpg/1280px-Summit-lake-wv-night-sky-reflection_-_West_Virginia_-_ForestWander.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}


.semi-transparent-bg {
   background: rgba(255,255,255,0.9);
}
