.gridContainer {
   display: flex;
   flex-direction: row;
   /* justify-content: flex-start; */
   justify-content: space-between;
   align-items: flex-start;
   margin: 48px;
}

.avatarColumn {
   flex: 0 0 16%;
   margin-bottom: 16px;
   min-width: 240px;
}

.avatarColumn > div {
   position: fixed;
   max-width: 240px;
}

.contentColumn { 
   /* flex: 0 1 1000px; */
   flex: 0 1 66%;
   align-self: stretch;
   margin-right: 2vw;
}

@media (max-width: 960px) {
   .gridContainer {
      flex-direction: column;
      margin: 0 auto;
      width: 92%;
   }
   .avatarColumn {
      flex: 0 0 100%;
      width: 100%;
      min-width: unset;
   }
   .avatarColumn > div {
      position: unset;
      max-width: unset;
   }
   .contentColumn {
      flex: 0 0 100%;
      margin-left: 4vw;
   }
}

@media (max-width: 840px) {
   .contentColumn {
      margin-left: unset;
      margin-right: unset;
   }
}
